@import "variables";
@import "colors";

$size: 6px;

.tabs {
  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: $gap * 3;

    ul {
      $radius: 12px;
      display: flex;
      padding: $size;
      margin: 0;
      list-style: none;
      gap: $gap;
      background-color: var(--container-color);
      border-radius: $radius;
      width: 330px;
      transition: 0.3s ease;

      button {
        $height: $sizeButton - $size;
        border: none;
        background-color: transparent;
        width: 100%;
        height: $height;
        line-height: $height;
        border-radius: $radius;
        color: var(--title-color);
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        font-family: inherit;
        transition: 0.3s ease;

        &.active {
          background-color: var(--body-color);
          transition: 0.3s ease;
        }
      }
    }
  }
}
