@import './colors';
@import './reboot';

// components
@import './components/hero';

P.cooming {
    font-size: 50px;
    color: #16c79a;
    font-family: 'Montserrat', sans-serif;
    margin-top: 150px;
}
