@import "colors";
@import "variables";

$padding: 24px;

:host {
  display: inline-block;

  button {
    border: none;
    border-radius: $radius;
    font-family: inherit;
    height: $sizeButton;
    padding: 0 $padding;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 8px 24px rgba($color: $green, $alpha: 0.25);

    &.primary {
      background-color: $green;
    }
  }
}
