@import "colors";

$pictureSize: 120px;
$mb: 15px;

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__picture {
    margin-bottom: $mb;

    picture {
      display: inline-block;
      height: $pictureSize;
      width: $pictureSize;
      border-radius: 50%;
      border: 3px solid $green;
      padding: 3px;

      div {
        overflow: hidden;
        border-radius: 50%;

        img {
          vertical-align: bottom;
          max-width: 100%;
        }
      }
    }
  }

  &__name {
    margin-bottom: 5px;

    h2 {
      color: var(--title-color);
    }
  }

  &__title {
    h5 {
      color: var(--text-color);
    }
  }
}
