<app-loader> </app-loader>

<div class="home">
  <div class="container">
    <div class="home__wrapper">
      <div class="home__wrapper-profile">
        <app-profile></app-profile>

        <div class="home__social">
          <a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-youtube"
              width="25"
              height="25"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <rect x="3" y="5" width="18" height="14" rx="4" />
              <path d="M10 9l5 3l-5 3z" />
            </svg>
          </a>

          <a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github"
              width="25"
              height="25"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              />
            </svg>
          </a>

          <a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-linkedin"
              width="25"
              height="25"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#000"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <rect x="4" y="4" width="16" height="16" rx="2" />
              <line x1="8" y1="11" x2="8" y2="16" />
              <line x1="8" y1="8" x2="8" y2="8.01" />
              <line x1="12" y1="16" x2="12" y2="11" />
              <path d="M16 16v-3a2 2 0 0 0 -4 0" />
            </svg>
          </a>
        </div>

        <div class="home__description">
          <p>
            I build with HTML, paint with CSS and destroy everything with JS.
          </p>
        </div>

        <div class="home__download">
          <app-button [class]="'primary'">
            <div class="home__download-green">
              <span>Download CV</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-download"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="#fff"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                <polyline points="7 11 12 16 17 11" />
                <line x1="12" y1="4" x2="12" y2="16" />
              </svg>
            </div>
          </app-button>
        </div>
      </div>
    </div>

    <app-tabs>
      <app-tab-item [label]="'Projects'">
        <div class="projects">
          <div class="projects__item">
            <picture>
              <img src="assets/images/project.jpg" alt="Project1" />
            </picture>
          </div>
          <div class="projects__item">
            <picture>
              <img src="assets/images/project.jpg" alt="Project1" />
            </picture>
          </div>
          <div class="projects__item">
            <picture>
              <img src="assets/images/project.jpg" alt="Project1" />
            </picture>
          </div>
          <div class="projects__item">
            <picture>
              <img src="assets/images/project.jpg" alt="Project1" />
            </picture>
          </div>
          <div class="projects__item">
            <picture>
              <img src="assets/images/project.jpg" alt="Project1" />
            </picture>
          </div>
        </div>
      </app-tab-item>
      <app-tab-item [label]="'Expirence'">
        <p>Holi 2</p>
      </app-tab-item>
    </app-tabs>
  </div>
</div>
