@import "colors";
@import "variables";

$size: 25px;

.home {
  text-align: center;

  a {
    cursor: pointer;
    border: none;
    padding: 0;
    display: inline-block;
    margin-right: $gap;
    background-color: transparent;
  }

  &__wrapper {
    margin-bottom: $gap * 3;

    &-profile {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__social {
    margin-top: $gap;

    a {
      width: $size;
      height: $size;
      svg {
        stroke: var(--svg-color);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__description {
    margin-top: $gap;

    p {
      font-weight: 700;
    }
  }

  &__download {
    margin-top: $gap * 2;
    // margin-bottom: $gap * 2;
    display: flex;
    align-items: center;
    justify-content: center;

    &-green {
      display: flex;
      align-items: center;
      color: $white;

      span {
        margin-right: 10px;
      }
    }
  }
}
