@use "sass:math";
@import "colors";
@import "variables";

$size: 25px;

.home {
  text-align: center;

  &__wrapper {
    margin-bottom: $gap * 3;

    &-profile {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__social {
    margin-top: $gap + math.div($gap, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;

    a {
      width: $size;
      height: $size;
      svg {
        stroke: var(--svg-color);
      }
    }
  }

  &__description {
    margin-top: $gap * 2;

    p {
      font-weight: 700;
      font-size: var(--normal-font-size);
    }
  }

  &__download {
    margin-top: $gap * 2;
    display: flex;
    align-items: center;
    justify-content: center;

    &-green {
      display: flex;
      align-items: center;
      color: $white;

      span {
        margin-right: 10px;
      }
    }
  }
}
